<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:net/shrine/baseShrineContext.xml"/>
    
    <bean id="authorizationService" class="net.shrine.authorization.AllowsAllAuthorizationService"/>
        
    <bean id="broadcasterPeerGroupToQueryOption" class="scala.Option" factory-method="apply">
    	<constructor-arg ref="broadcasterPeerGroupToQuery"/>
    </bean>
        
    <bean id="shrineService" class="net.shrine.service.ShrineService">
        <constructor-arg index="0" ref="auditDao"/>
        <constructor-arg index="1" ref="authorizationService"/>
        <constructor-arg index="2" ref="broadcasterPeerGroupToQueryOption"/>
        <constructor-arg index="3" ref="isIncludeAggregateResults"/>
        <constructor-arg index="4" ref="spinClient"/>
    </bean>
</beans>
