<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:net/shrine/baseShrineContext.xml"/>
    
    <bean id="identityService" class="org.spin.identity.AlwaysCertifiesIdentityService"/>

    <bean id="authorizationService" class="net.shrine.authorization.AllowsAllAuthorizationService"/>
        
    <bean id="slickDatabase" class="scala.slick.session.Database" factory-method="forDataSource">
        <constructor-arg ref="dataSource"/>
    </bean>
    
    <bean id="slickSpringWorkarounds" class="net.shrine.dao.slick.workarounds.SpringWorkarounds">
        <constructor-arg value="mysql"/>
    </bean>
    
    <bean id="slickDriver" factory-bean="slickSpringWorkarounds" factory-method="driver"/>
    
    <bean id="slickBroadcasterAuditTables" class="net.shrine.broadcaster.dao.slick.tables.Tables">
    	<constructor-arg ref="slickDriver"/>
    </bean>
    
    <bean id="auditDao" class="net.shrine.broadcaster.dao.slick.SlickAuditDao">
        <constructor-arg ref="slickDatabase"/>
        <constructor-arg ref="slickBroadcasterAuditTables"/>
    </bean>
        
    <bean id="shrineService" class="net.shrine.service.ShrineService">
        <constructor-arg index="0" ref="auditDao"/>
        <constructor-arg index="1" ref="authorizationService"/>
        <constructor-arg index="2" ref="identityService"/>
        <constructor-arg index="3" ref="shrineConfig"/>
        <constructor-arg index="4" ref="spinClient"/>
        <constructor-arg index="5" ref="aggregatorEndpointConfigOption"/>
    </bean>
</beans>
