.querySummaryLabel0 {
	color: #063;
}

.querySummaryLabel1 {
	color: #069;
}

.querySummaryLabel2 {
	color: #B58800;
}

.querySummaryLabel3 {
	color: #D24500;
}

.querySummaryLabel4 {
	color: #AE00D2;
}

.querySummaryLabel5 {
	color: #0014A4;
}

.querySummaryLabel6 {
	color: #8A0000;
}

.querySummaryLabel7 {
	color: #5A008A;
}

.querySummaryLabel8 {
	color: #00A89A;
}

.querySummaryLabel9 {
	color: #8DB000;
}
