/* CSS Document */

body {
	font: 12px Verdana, Geneva, sans-serif !important;
	background: none repeat scroll 0 0 #fff;
}

a:link, a:hover, a:visited, a:active {
	color: #046698;
}

/* Containers */

.wrapper {
	width: 960px;
	margin: 10px auto 20px auto;
	overflow:visible;
	position:relative;
}

.header {
	padding: 0 0 15px 0;
}

.headerLinks {
	float: right;
	padding: 15px 0 0 0;
	clear: both;
}

.topMenu {
	font-size: 14px;
	font-weight: bold;
}

.mainContent {
	padding: 10px 0 0 0;
	min-height: 550px;
}

.searchBox {
	width: 100%;
	height: 35px;
	position: relative !important;
	margin: 0 0 20px 0;
}

.footer {
	clear: both;
	margin: 20px 0 0 0;
	background:#666;
	padding: 5px 10px;
	color: #FFF;
	text-align: right;
	font-size: 10px;
	
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}

/* Form Element */

.browseLink {
	float:right;
	padding: 3px 0 0 0;
	font-weight: bold;
	font-size: 16px;
}

.browseLink a {
	color: #666;
}

.browseWindow {
	position:absolute;
	width: 600px;
	height: 535px;
	right: 10px;
	top: 126px;
	z-index: 50;
	padding: 5px 10px 5px 10px;
	background: #FFFFFF;
	border: solid 2px #333333;
	border-radius: 5px 0px 0px 5px; 
	-moz-border-radius: 5px 0px 0px 5px; 
	-webkit-border-radius: 5px 0px 0px 5px; 
	font-size: 24px;
	font-weight: bold;
}

.browseWindowClose{
	width: 100%;
	text-align: right;
	font-weight:bold;
	font-size: 24px;
}
.browseWindowInside {
	width: 610px;
	height: 470px;
	overflow:auto;
	margin: 5px 0 0 0;
	border-top: solid 2px #333333;
}

.searchInput {
	width: 936px;
	font-size: 16px;
	padding: 3px 10px;
	height: 26px;
	display:inline-block;
	float: left;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: solid 2px #666666;
}

.searchButton {
	width: 90px;
	height: 30px;
	font-size: 16px;
	display:inline-block;
	float: left;
	border: solid #666666;
	border-width: 1px 1px 1px 0 ;
	display: none;
}

.searchButton:hover {
	background: #CCC;
	cursor: pointer;
}

.browseButton {
	width: 90px;
	height: 30px;
	font-size: 16px;
	display:inline-block;
	float: left;
	border-radius: 0px 5px 5px 0px; 
	-moz-border-radius: 0px 5px 5px 0px; 
	-webkit-border-radius: 0px 5px 5px 0px; 
	border: solid #666666;
	border-width: 1px 1px 1px 0 ;
}

.browseButton:hover {
	background: #CCC;
	cursor: pointer;
}

.searchBoxPopup {
	position:absolute;
	top: 36px;
	left: -1px;
    background: none repeat scroll 0 0 #ffffff;
    border: solid #FFFFFF;
	border-width: 2px 2px 10px 2px;
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 3px 5px #000000;
    float: left;
    font-size: 1.2em;
    margin-left: 1px;
    min-height: 250px;
    max-height: 500px;
	width: 736px;
    overflow-y: auto !important;
    padding: 0 15px 5px 5px;
    z-index: 1101;
	/* TODO: HACK ALERT */
	/* display: none; */
}

.searchTermHighlight {
	font-weight: bold;
}

/* Query Builder */

.breakDownOuter {
	margin: 0;
}

.breakDown {
	width: 936px;
	min-height: 90px;
	background: #FFFFFF;
	padding: 5px 10px 15px 10px;
	border: 2px solid #333;
	border-radius: 0 0 10px 10px; 
	-moz-border-radius: 0 0 10px 10px; 
	-webkit-border-radius: 0 0 10px 10px; 
	clear: both;
	font-size: 14px;
}

.breakDownSmart {
	width: 956px;
	min-height: 90px;
	background: url("../images/subject-bg2.png") repeat-y scroll 0 0 #ffffff;
	padding: 0 0 5px 0;
	border: 2px solid #333;
	border-radius: 0 0 10px 10px; 
	-moz-border-radius: 0 0 10px 10px; 
	-webkit-border-radius: 0 0 10px 10px; 
	clear: both;
	font-size: 12px;
}

.breakDownSummary {
	width: 936px;
	min-height: 90px;
	background: #FFFFFF;
	padding: 5px 10px 15px 10px;
	border: 2px solid #333;
	clear: both;
	font-size: 14px;
	margin: 0 0 20px 0;
}

.patientSelection {
	width: 936px;
	min-height: 90px;
	background: #FFFFFF;
	padding: 0 10px;
	border: 2px solid #333;
	clear: both;
	font-size: 14px;
	margin: 0 0 20px 0;
}

.querySentence {
	font-size: 120%;
	padding: 10px 0 0 0;
	font-weight: normal;
}

.querySentence .term {
	font-weight: bold;
}

.querySentence .joiner {
	font-style:italic;
}

.breakDownRow {
	line-height: 25px;
	clear: both;
}
/*
.breakDown {
	float:right;
	width: 155px;
	height: 328px;
	min-height: 200px;
	background: #FFFFFF;
	padding: 5px;
	border: 2px solid #333;
	border-radius: 0 10px 10px 0; 
	-moz-border-radius: 0 10px 10px 0; 
	-webkit-border-radius: 0 10px 10px 0; 
	margin: 10px 0 0 0;
	font-size: 28px;
	font-weight: bold;
}
*/

.loginOuterContainer {
	position: relative;
	margin: 20px 0 0 0;
}

.loginContainer {
	width: 230px; 
	position: relative; 
	display: inline-block; 
	vertical-align:top; 
	height: 30px;
}

.loginButtonContainer {
	position: relative; 
	display: inline-block; 
	vertical-align:top; 
	height: 30px;
}

.loginInput {
	width: 204px;
	height: 26px;
	font-size: 16px;
	font-weight: bold;
	display:inline-block;
	color: #7f7f80;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: solid #666666;
	border-width: 1px;
	margin: 0 5px 0 0;
	padding: 1px 10px;
	vertical-align: top;
	background: transparent;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
}

.loginPlaceholder {
	position:absolute; 
	top: 0; 
	left: 0; 
	z-index: 0; 
	padding: 5px 0 0 10px; 
	font-weight: bold; 
	color: #7f7f80;
}

.loginCheckbox {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
	vertical-align: baseline;
}

.loginButton {
	width: 120px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	display:inline-block;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: solid #666666;
	border-width: 1px;
	margin: 0 0 0 5px;
	vertical-align: top;
}

.agreeContainer {
	padding: 10px 0 0 0; 
	position: relative; 
	display: inline-block;
}

.loginTerms {
	height: 400px; 
	overflow-x: hidden; 
	overflow-y: auto; 
	border: 1px solid #666; 
	margin: 10px 0 0 0;
	padding: 10px;
	font-size: 12px;
}

.loginTermsHeader {
	text-align: center;
	line-height: 30px;
	font-weight: bold;
}

.loginTerms li {
	padding: 0 0 10px 0;
}

.buttonPanel {
	width: 100%;
	padding: 15px 0 5px 0;
	text-align: center;
}

.largeButton {
	width: 240px;
	height: 30px;
	clear: both;
	font-size: 18px;
	font-weight: bold;
	display:inline-block;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: solid #666666;
	border-width: 1px;
	margin: 10px 10px 0 5px;
	background: #8b3836;
	color: #FFF;
}

.largeButton:hover {
	background: #72201e;
}
.largeButton:disabled {
	background: #c29695;
}

.smallButton {
	min-width: 160px;
	max-width: 240px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	display:inline-block;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: solid #666666;
	border-width: 1px;
	margin: 0 10px 0 5px;
}

.runQueryButton {
	width: 160px;
	height: 30px;
	font-size: 14px;
	display:inline-block;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: solid #666666;
	border-width: 1px;
	margin: 0 10px 0 5px;
}

.runQueryButton:hover {
	background: #CCC;
	cursor: pointer;
}

.breakDownDemographics {
	line-height: 24px;
	min-height: 20px;
    width: 670px;
	display:block;
	float:left;
	margin: 0 0 0 20px;
}

.demographic {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
    max-width: 700px;
    min-width: 150px;
	padding: 0;
}

.demographicLeft {
	margin: 0 30px 0 0;
}

.breakDownDemographics img {
	margin: 0 30px 0 0;
}

.breakDownInstitution {
	line-height: 24px;
	width: 240px;
	display:block;
	float:left;
}

.breakDownUpper {
	line-height: 24px;
	width: 200px;
}

.breakDownTop {
	position: relative;
	overflow: hidden;
}

.breakDownTopLeft {
	padding: 0 0 10px 0;
	text-align: left;
    width: 100%;
	margin: 0px 0 0 0;
	font-weight: bold;
}

.breakDownTopLeft .title, .breakDownSmart .title {
	font-size: 22px;
	font-weight: bold;
}

.breakDownSmart .title {
	height: 30px;
	padding: 5px;
	background: #046698;
	color: #FFF;
}

.breakDownTopRight {
	float: right;
	width: 250px;
	padding: 0 0 20px 20px;
	border: 0px solid #111;
	margin: 0 0 0 10px;
}

.dataDropdown {
    margin: 10px 0 0 0;
    width: 245px;
	height: 20px;
	font-size: 11px;
}

.dataDictionary #expand {
	display: block;
	width: 16px;
	float: right;
}

.dataDictionary #collapse {
	/* TODO: HACK ALERT */
	/*display: none;*/
	width: 16px;
	float: right;
}

.dataDictionary {
	width: 936px;
	padding: 5px 10px 0 10px;
	border: 2px solid #333;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	position: relative;
	margin: 0 0 20px 0;
	overflow: auto;
	float:left;
	background: #FFFFFF;
	/* TODO: HACK ALERT */
	/* display:none; */
}

.dataDictionary .title {
	font-weight: bold;
	float:left; 
	font-size: 140%;
}

#dataDictionaryData {
	display:block;
	overflow-y:scroll;
	max-height: 400px;
	border: 1px solid #CCC;
	margin: 0 0 10px 0;
}

.queryBuilder {
	width: 936px;
	padding: 5px 10px 0 10px;
	border: 2px solid #333;
	border-radius: 10px 10px 0 0; 
	-moz-border-radius: 10px 10px 0 0; 
	-webkit-border-radius: 10px 10px 0 0; 
	position: relative;
	margin: 0 0 20px 0;
	overflow: auto;
	float:left;
	background: #FFFFFF;
}

.queryClear {
	text-align: right;
	padding: 0 0px 8px 0;
	overflow:hidden;
}

.queryClear img {
	cursor:pointer;
	margin: 3px 0 0 0;
}

.statBox {
	width: 730px;
	padding: 10px 10px 0 10px;
	border: 2px solid #333;
	border-radius: 0 0 0 10px; 
	-moz-border-radius: 0 0 0 10px; 
	-webkit-border-radius: 0 0 0 10px; 
	position: relative;
	margin: 10px 0 0 0;
	overflow: auto;
	float:left;
	background: #FFFFFF;
}

.statImage {
	text-align:center;
	float:left;
	padding: 0 30px 0 0;
	font-size: 120%;
	font-weight: bold;
}

.queryRow {
	padding: 10px 0 0 0;
	margin: 0 0 10px 0;
	position: relative;
	
	border: dashed 2px #333333;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	width: 100%;
	min-height: 30px;
	
/*	border-bottom: 2px solid #666;*/
}

.queryRowClose {
    float: right;
    margin: -5px 5px 0 0;
    width: 16px;
}

.emptyRow {
	margin: 10px 0;
	min-height: 24px;
	border: dashed 2px #333333;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	width: 94%;
	padding: 10px 3%;
	color: #CCC;
	font-size: 150%;
	font-weight: bold;
}

.queryRowLabel {
	width: 40px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 0 0px 0 10px;
}

.row0 .queryRowLabel {
	color: #063;
}

.row0 .queryTerm {
	background: #063;
	border-color: #063;
	color: #ffffff;
}

.row1 .queryRowLabel {
	color: #069;
}

.row1 .queryTerm {
	background: #069;
	border-color: #069;
	color: #ffffff;
}

.row2 .queryRowLabel {
	color: #B58800;
}

.row2 .queryTerm {
	background: #B58800;
	border-color: #B58800;
	color: #ffffff;
}

.row3 .queryRowLabel {
	color: #D24500;
}

.row3 .queryTerm {
	background: #D24500;
	border-color: #D24500;
	color: #ffffff;
}

.row4 .queryRowLabel {
	color: #AE00D2;
}

.row4 .queryTerm {
	background: #AE00D2;
	border-color: #AE00D2;
	color: #ffffff;
}

.row5 .queryRowLabel {
	color: #0014A4;
}

.row5 .queryTerm {
	background: #0014A4;
	border-color: #0014A4;
	color: #ffffff;
}

.row6 .queryRowLabel {
	color: #8A0000;
}

.row6 .queryTerm {
	background: #8A0000;
	border-color: #8A0000;
	color: #ffffff;
}

.row7 .queryRowLabel {
	color: #5A008A;
}

.row7 .queryTerm {
	background: #5A008A;
	border-color: #5A008A;
	color: #ffffff;
}

.row8 .queryRowLabel {
	color: #00A89A;
}

.row8 .queryTerm {
	background: #00A89A;
	border-color: #00A89A;
	color: #ffffff;
}

.row9 .queryRowLabel {
	color: #8DB000;
}

.row9 .queryTerm {
	background: #8DB000;
	border-color: #8DB000;
	color: #ffffff;
}

.label3 {
	color: #C60;
}

.queryRowTerms {
	width: 712px;
	min-height: 20px;
	float: left;
	font-size: 16px;
	position: relative;
	text-align: left;
}

.queryTerm {
	display:inline-block;
	padding: 0 5px 2px 5px;
	background: #b3c6d3;
	min-width: 50px;
	border-radius: 10px; 
	border: 1px solid #0a507d;
	font-weight: bold;
	margin: 0 10px 10px 0;
}

.queryTermClose {
	float: right; 
	margin: 0 3px 0 10px; 
	font-weight:bold;
	cursor:pointer;
}

.queryTermClose img {
	margin: 4px 0 0 0;
}

.leaf {
}

.folder {
}

.queryTerm:hover {
	cursor: move;
}

.queryTermMenu {
    display: none;
    position: absolute;
    padding: 2px 0;
	background: url(../images/menu-bg.png);
    border: 1px solid #eeeeee;
	
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}

.queryTermMenu a {
	display: block;
	text-decoration: none;
	padding: 2px 10px;
	margin: 3px 0;
}

.queryTermMenu a:link,.queryTermMenu a:visited {
	color: #333333;
}

.queryTermMenu a:hover,.queryTermMenu a:active {
	background: url(../images/menu-bg-hover.png);
	color: #ffffff;
}

.queryRowResults {
	width: 140px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	padding: 0 10px 10px 3px;
	text-align: right;
	
	display: none;
}

.queryRowResults img{
	margin: 5px 3px 0 5px;
}

.queryRowResultsFraction {
	display:block;
	float: right;
	font-size: 12px;
	padding: 0;
}

.queryRowFilters {
	clear: both;
	padding: 5px;
	border: solid #666666;
	border-width: 2px 0 0 0;
	margin: 10px 0 0 0;
	position: relative;
	overflow: auto;
}

.resultInstitutionsTitle {
	font-weight: bold;
	font-size: 24px;
	padding: 10px 0;
	height: 30px;
}

.resultLink {
    font-size: 70%;
    float: right;
	text-align: center;
	line-height: 15px;
}

.resultDescription {
    font-size: 80%;
    line-height: 14px;
    padding: 10px 0;
	clear: both;
}

.resultInstitutions {
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}

.resultInstitution {
	width: 200px;
	float: left;
	font-size: 115%;
	padding: 0 40px 10px 0;
	margin: 0 0 15px 0;
	cursor: pointer;
}

.resultInstitutionName {
	border: solid #ddd;
	border-width: 0 0 1px 5px;
	padding: 0 0 0 5px;
	font-weight:bold;
	font-size: 80%;
}

.resultInstitutionNameSelected {
	background: url("../images/arrow5r.png") no-repeat scroll right 15px transparent;
}

.resultInstitutionData {
	padding: 5px 0 0 10px;
	font-size: 150%;
}

.resultInstitutionQuantity {
	display: inline-block;
	font-weight: bold;
}

.resultInstitutionQuantity .plusMinus {
	color: #009999;
	font-size: 50%;
	vertical-align: top;
}

.resultInstitutionLink {
	display: inline-block;
	font-size: 90%;
}

.queryRowFiltersInner {
	float: left;
	padding: 0 20px 1px 0;
}

.queryResults {
	font-size: 24px;
	font-weight: bold;
}

.queryResultsBox {
	width: 135px;
	padding: 5px;
	margin: 5px 10px 5px 5px;
	font-size: 34px;
	font-weight: bold;
	text-align:center;
	border: 1px solid #333;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	float: left;
	height: 100px;
}

.queryResultsBoxLabels {
	font-size: 38px;
	font-weight: bold;
	color: #666666;
	padding-bottom: 10px;
}

.queryResultsBox2 {
	width: 60px;
	padding: 5px;
	margin: 2px;
	font-size: 17px;
	font-weight: bold;
	text-align:center;
	border: 1px solid #333;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	float: left;
	height: 50px;
}

.queryResultsBoxLabels2 {
	font-size: 17px;
	font-weight: bold;
	color: #666666;
	padding-bottom: 10px;
}

.queryResultsSubTotals {
	width: 610px;
	float:left;
}

.queryResultsTotals {
	width: 135px;
	padding: 5px;
	margin: 25px 5px 5px 5px;
	font-size: 14px;
	font-weight: bold;
	text-align:center;
	border: 1px solid #333;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	float: left;
	background: none repeat scroll 0 0 #B3C6D3;
}

.autosuggest {
}

.autosuggest ul {
	padding: 0 0 0 10px;
	margin: 5px 0 0 0;
}

.autoSuggestRow {
	margin: 5px 0 2px 0;
}

.autosuggest li {
	list-style: none;
	padding: 4px 0;
}

.autosuggest li:nth-child(even) {
	background: #f7f7f7;
}

.autosuggest .taxonomy {
	display:inline-block;
	font-weight: 110%;
	color: #666666;
	font-variant: small-caps;
	padding: 0 10px 0 5px;
	display: none;
}

.autosuggest .synonym {
	display:block;
	font-weight: 90%;
	color: #096;
	font-style: italic;
}

.autosuggest .browse {
	display: inline-block;
	padding: 0 5px 0 25px;
	font-size: 80%;
	cursor: pointer;
	color: #03F;
	text-decoration: underline;
}

.autosuggest .terms {
	width: 670px;
	display: inline-block;
	vertical-align: top;
}

.autosuggest .leaf {
	background: url("../images/document.png") no-repeat scroll 3px bottom transparent;
}

.autosuggest .folder {
	background: url("../images/folder.png") no-repeat scroll left bottom transparent;
}

.autosuggest .icon {
	width: 24px;
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
}

.disabled {
	cursor: default !important;
}

.datepicker {
	width: 75px;
}

.focus {
	background-color: #99FFFF !important;
}

.file, .folder {
	cursor: pointer;
}

.file a, .folder a, .autosuggest a {
	text-decoration: none;
	color: #000000;
}

.loadHeader {
	background: #666; 
	color: #FFF;
}

.loadHeader a {
	color: #FFF;
	text-decoration:none;
}

.sortDown {
	background: url("../images/sort_arrow_down.png") no-repeat scroll right top transparent;
}

.sortUp {
	background: url("../images/sort_arrow_up.png") no-repeat scroll right top transparent;
}

.loadDelete {
	float: right;
	cursor: pointer;
}

.loader {
	cursor: pointer;
}

.loadRow1 {
	background: url("../images/queryicon.png") no-repeat scroll 2px 7px transparent;
}

.loadRow2 {
	background: url("../images/queryicon.png") no-repeat scroll 2px 7px #eeeeee;
}

.filetree span.query {
	background: url("../images/queryicon.png") no-repeat scroll 2px 7px transparent;
	padding: 3px 0 3px 24px;
	cursor: pointer;
}

.autosuggest .folder {
}

.filetree li {
    padding: 3px 0 3px 3px !important;
}

.loadTable {
	width: 740px;
}

.loadHeader {
	padding: 3px 0;
	color: #ffffff;
	font-weight: bold;
	background: #666666;
}

.loadHeaderName {
	width: 400px;
	display: inline-block;
	text-align: left;
}

.loadHeaderDate {
	width: 135px;
	display: inline-block;
	text-align: left;
}

.loadHeaderStatus {
	width: 165px;
	display: inline-block;
	text-align: left;
}

.loadRow {
	clear: both;
	overflow: hidden;
	position:relative;
	padding: 3px 0;
}

.loadNameColumn {
	width: 380px;
	padding: 0 0 0 20px;
	background: url("../images/queryicon.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
}

.loadDateColumn {
	width: 135px;
	display: inline-block;
}

.loadStatusColumn {
	width: 165px;
	display: inline-block;
}

.loadDeleteColumn {
	width: 20px;
	display: inline-block;
}

.patientCheckBox {
	width: 30px !important;
}

.patientList ul li {
	list-style: none;
	padding: 7px 0;
	border: dashed #333333;
	border-width: 0 0 1px 0;
}

.patientList ul li div {
/*	width: 180px;*/
	display: inline-block;
	vertical-align: middle;
}

.patientList ul li div img {
}

.patientName {
    font-size: 120%;
    font-weight: bold;
    width: 208px !important;
}

.patientClose {
	width: 16px; 
	display: inline-block;
	padding: 5px 0 5px 5px;
}

.patientTimeline {
	margin: 10px 0 0 0;
}

.backLink {
    font-size: 130%;
    font-weight: bold;
    height: 35px;
    margin: 0 0 10px;
    position: relative !important;
    width: 100%;
}

.patientLinks {
	text-align: left;
	padding: 10px 0;
}

.patientLinksText {
	display:inline-block;
	width: 730px;
	text-align: left;
	vertical-align: top;
}

.patientLinksButtons {
	display:inline-block;
	width: 200px;
	text-align: right;
	vertical-align: top;
}

.patientList {
	clear: both;
	padding: 10px 0;
}



.smartIcons {
	max-width: 710px;
	height: 80px;
	display: inline-block;
	vertical-align: top;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space:nowrap;
}

.patientBox {
    font-size: 100%;
    padding: 5px 10px;
    text-align: center;
	display: inline-block;
	white-space: nowrap;
}

.patientQuantityBox {
	width: 20px; 
	height: 28px; 
	font: bold 28px Verdana,Geneva,sans-serif; 
	color: #777777;
	text-align: right;
    width: 80px;
	border: 1px solid #AAAAAA;
	background: none repeat scroll 0 0 #EAF4F9;
	padding: 2px 0 3px 0;
}

.icon {
    font-size: 100%;
    padding: 0 10px;
    text-align: center;
	display: inline-block;
	white-space: nowrap;
}

.selectedIcon {
	background: url("../images/arrow6c.png") no-repeat scroll center bottom transparent;
}

.smartContainer {
	width: 690px;
	padding: 10px;
/*	height: 560px;
	overflow-y: scroll;*/
	overflow-x: hidden;
	display: inline-block;
	vertical-align: top;
}



.patientListNarrow {
	width: 245px;
	float: left;
}

.patientListInner {
	min-height: 300px;
/*	max-height: 600px;
	overflow-y: scroll;*/
	overflow-x: hidden;
	width: 245px;
}

.patientListInner ul {
	padding: 0 5px 0 0;
	margin: 0 0 0 5px;
	width: 234px;
	border: solid #cccccc;
	border-width: 0 1px 0 0;
}

.patientListInner ul li {
	list-style: none;
	padding: 5px 0;
	border: dashed #aaaaaa;
	border-width: 0 0 1px 0;
}

.patientListInner ul li div {
/*	width: 220px;*/
	display: inline-block;
	vertical-align: top;
}

.patientListInner ul li div img {
}

.patientSelectionPanel {
	min-height: 10px;
	display: inline-block;
	vertical-align: middle;
}

.patientSelectionPanel .patientName {
	font-size: 150%;
}

.personPanel {
	width: 240px;
	background: url(../images/dropdown.png) no-repeat scroll right 0 #FFFFFF;
    padding: 0px 16px 2px 5px;
	margin: 0 20px 0 0;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}

.patientSelectionPanel {
	text-align: left;
}

.patientQuantity {
    color: #777777;
    font-size: 200%;
	text-align: left;
}

.addButton {
	margin: 0;
}