.richSuggestionRow-Highlighted {
	background-color: #FFFFAA;
}
	
.richSuggestionRow-NotHighlighted {
	background-color: white;
}

.gwt-PopupPanel {
	/* TODO: workaround to remove GWT popup panel border */
	border: none;
	/* TODO: HACK make vestigal popup panel invisible*/
	background-color: transparent;
}